@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 180 10% 5%;
    --foreground: 0 0% 93.3%;
    --card: 180 10% 10%;
    --card-foreground: 0 0% 93.3%;
    --popover: 180 10% 5%;
    --popover-foreground: 0 0% 93.3%;
    --primary: 180 100% 42%;
    --primary-foreground: 0 0% 0%;
    --secondary: 180 10% 10%;
    --secondary-foreground: 0 0% 93.3%;
    --muted: 180 10% 15%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 180 10% 10%;
    --accent-foreground: 0 0% 93.3%;
    --destructive: 0 62.8% 40.6%;
    --destructive-foreground: 0 0% 93.3%;
    --border: 180 10% 15%;
    --input: 180 10% 15%;
    --ring: 180 100% 42%;
    --chart-1: 180 100% 42%;
    --chart-2: 180 90% 38%;
    --chart-3: 180 80% 34%;
    --chart-4: 180 95% 46%;
    --chart-5: 180 85% 40%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
